body{
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.ContenedorPadre{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: blueviolet;
}

.ContenedorPadre .ContenedorParrafoColor {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
  .ContenedorParrafoColor h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .ContenedorParrafoColor p {
    font-size: 18px;
    margin-bottom: 20px;
    color: black;
  }
  .ContenedorParrafoColor button {
    padding: 10px 20px;
    font-size: 16px;
  }
  .ContenedorPadre .ContenedorImagen{
    width: 100%;
    height: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: purple;
  }

  .ContenedorImagen .imagen{
    width: 100%;
    align-items: center;
    margin-bottom: 40px;
    display: flex;
  }

  .ContenedorPadre .ContenedorEnlaces{
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }